  .line_pipe {
    position: absolute;
    bottom: 15%;
    right: 15%;
    background-image: url("pipes-images/line_pipe.png");
    background-color: transparent;
    height: 10%;
    width: 18%;
  }

  .four_pipe {
    position: absolute;
    bottom: 25%;
    right: 25%;
    background-image: url("pipes-images/4pipe.png");
    background-color: transparent;
    height: 16%;
    width: 10%;
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .pipes {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-bottom: 30px;
  }
  
  .pipe {
    height: 50px;
    width: 20px;
    border: 2px solid black;
  }
  
  .pipe.p {
    background-color: red;
  }
  
  .pipe.q {
    background-color: blue;
  }
  
  .pipe.r {
    background-color: rgb(128, 0, 111);
  }
  
  .pipe.ballslol {
    background-color: rgb(128, 0, 111);
  }

  .expression {
    text-align: center;
  }
  
  .expression p.logic {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .h1 {
    color: white;
  }

  .pipe.rotated {
    transform: rotate(90deg);
  }
  