<link rel="stylesheet" href="/css/nav-menu.css">
<link rel="stylesheet" href="/css/mainstyle.css">
<script src="/js/navMenu.js"></script>
<body>
    <div class="nav-toggle" id="nav-toggle">
        <div class="nav-icon" id="nav-icon"></div>
    </div>
    <nav class="nav-menu" id="nav-menu">
        <div>
            <ul class="navigation">
                <p><a href="/">Home</a></p>
                <p><a href="/room">Escape Room</a></p>
                <p><a href="/racing">Racing Game</a></p>
                <p><a href="/pipes">Pipes Game</a></p>
                <p><a href="/bomb">Bomb Diffusion Game</a></p>
                <p><a href="/logic">Logic Gates Game</a></p>
            </ul>
        </div>
    </nav>
    <div class="nav-overlay" id="nav-overlay"></div>
</body>