<style>
    * body {
        margin-left: 10%;
        margin-right: 10%;
        background-color: rgb(18, 18, 18);
    }

    .nav-toggle {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }

    .nav-icon {
        width: 43px;
        height: 40px;
        background-image: url('https://user-images.githubusercontent.com/111464932/232657484-ef6451f7-6683-462f-ab19-12a208cadf76.png');
        background-size: contain;
        cursor: pointer;
        position: relative;
        transition: 0.3s ease-in-out;
    }

    .nav-icon.active {
        width: 40px;
        background-image: url('https://user-images.githubusercontent.com/111464932/232657165-c327b329-94e2-4bd2-89df-6ab622087831.png');
        transition: all 0.34s ease-in-out;
        transform: rotate(-180deg);
    }

    .nav-menu {
        width: 20%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9998;
        padding: 35px;
        background-color: rgb(61, 61, 61);
        opacity: 0.9;
        transform: translateX(600%);
        transition: 0.3s ease-in-out;
    }

    .navigation {
        z-index: 9995;
        color: rgb(216, 216, 216);
        margin-top: 70px;
    }

    .navigation p, .navigation a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30pt;
        font-weight: bold;
        color: rgb(203, 203, 203);
        z-index: 9995;
        text-decoration: none;
        margin-bottom: 30px;
        transition: 0.2s;
    }
    .navigation p:hover, .navigation a:hover {
        color: rgb(255, 255, 255);
        font-weight: bolder;
    }

    .nav-menu.active {
        transform: translateX(400%);
    }

    .nav-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        pointer-events: none;
        z-index: 9990;
        transition: 0.3s ease-in-out;
    }

    .nav-overlay.active {
        opacity: 1;
        pointer-events: auto;
        backdrop-filter: blur(2px) grayscale() brightness(150%);
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    
        const navToggle = document.getElementById('nav-toggle');
        const navMenu = document.getElementById('nav-menu');
        const navIcon = document.getElementById('nav-icon');
        const navOverlay = document.getElementById('nav-overlay');
    
        navToggle.addEventListener('click', () => {
            navToggle.classList.toggle('active');
            navMenu.classList.toggle('active');
            navIcon.classList.toggle('active');
            navOverlay.classList.toggle('active');
        });
    });
</script>
<body>
    <div class="nav-toggle" id="nav-toggle">
        <div class="nav-icon" id="nav-icon"></div>
    </div>
    <nav class="nav-menu" id="nav-menu">
        <div>
            <ul class="navigation">
                <p><a href="/">Home</a></p>
                <p><a href="/room">Escape Room</a></p>
                <p><a href="/racing">Racing Game</a></p>
                <p><a href="/pipes">Pipes Game</a></p>
                <p><a href="/bomb">Bomb Diffusion Game</a></p>
                <p><a href="/logic">Logic Gates Game</a></p>
            </ul>
        </div>
    </nav>
    <div class="nav-overlay" id="nav-overlay"></div>
</body>